body {
  background-color: #34495e;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

.figure-container {
  fill: #34495e;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.App {
  text-align: center;
}
